{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_accessibility/view_spacing

    The spacing detail view (numeric steppers brief): one Less/More stepper per enabled spacing feature, each with a
    sample line showing its spacing. Behaviour is in local_accessibility/panel.

    Context variables required for this template:
    * id, label, locked - the view (id "spacing")
    * steppers - one per enabled spacing feature (see local_accessibility/stepper)

    Example context (json):
    {"id": "spacing", "label": "Spacing", "locked": false, "isspacing": true, "steppers": [
        {"feature": "lineheight", "label": "Line height", "labelid": "la-group-lineheight", "showlabel": true,
         "fieldvalue": "1.8", "placeholder": "", "unit": "", "issize": false, "locked": false, "mindisabled": false,
         "maxdisabled": false, "sample": "Aa Bb Cc Dd", "samplestyle": "line-height: 1.8", "bar": null}
    ]}
}}
<section class="la-view la-view-{{id}}" id="la-view-{{id}}" data-view="{{id}}" aria-labelledby="la-view-{{id}}-title" hidden>
    <div class="la-viewhead">
        <button type="button" class="btn btn-sm la-back" data-action="back">
            <i class="icon fa fa-chevron-left" aria-hidden="true"></i>{{#str}} allsettings, local_accessibility {{/str}}
        </button>
        <h3 class="la-viewtitle" id="la-view-{{id}}-title" tabindex="-1">{{label}}</h3>
        {{#locked}}<i class="icon fa fa-lock la-viewlock" aria-hidden="true"></i>{{/locked}}
    </div>
    {{#steppers}}{{> local_accessibility/stepper }}{{/steppers}}
</section>
